.drop.drop_kids
    .drop__flex
        h3.drop__head Kids
        ul.drop__menu
            li
                a(href="#").drop__link Dresses
            li
                a(href="#").drop__link Tops
            li
                a(href="#").drop__link Sweaters/Knits
            li
                a(href="#").drop__link Jackets/Coats
    .drop__flex
        h3.drop__head Kids
        ul.drop__menu
            li
                a(href="#").drop__link Denim
            li
                a(href="#").drop__link Leggings/Pants
            li
                a(href="#").drop__link Skirts/Shorts
        h3.drop__head Kids
        ul.drop__menu
            li
                a(href="#").drop__link Dresses
            li
                a(href="#").drop__link Tops
    