//Block nav
nav.menu
    ul.menu__ul
        li.menu__list
            a.menu__link(href="index.html") Home
        li.menu__list
            a.menu__link(href="#") Man
            include drop-man
        li.menu__list
            a.menu__link(href="#") Women
            include drop-women
        li.menu__list
            a.menu__link(href="#") Kids
            include drop-kids
        li.menu__list
            a.menu__link(href="#") Accoseriese
            include drop-accoseriese
        li.menu__list
            a.menu__link(href="#") Featured
            include drop-featured
        li.menu__list
            a.menu__link(href="#") Deals
            include drop-deals
//End block nav