i(class="fas fa-chevron-left") //Стрелка влево
i(class="fas fa-chevron-right") //Стрелка вправо
i(class="fas fa-angle-left") //Стрелка влево
i(class="fas fa-angle-right") //Стрелка вправо
i(class="fas fa-angle-double-right") //Двойная стрелка вправо
i(class="fas fa-angle-double-left") //Двойная стрелка влево
i(class="fas fa-times-circle") //Крест в кружке
i(class="fas fa-caret-down") //Стрелка вниз
i(class="fas fa-long-arrow-right") //Длинная стрелка