mixin navLink(link,name)
    li
        a(href=link).nav-link=name

header
    .header
        ul.nav
            +navLink('#', '1')
            +navLink('#', '2')
            +navLink('#', '3')
            +navLink('#', '4')
            +navLink('#', '5')