//Block header
header.header
    .container.header-flex
        .header__left
            div.logo
                a(href="#")
                    img(src="img/logo.png", alt="logo")
                    p BRAN
                        span D 
            .search-form
                form.search-form__form
                    .search-form__browse Browse
                    input.search-form__input(type=text, placeholder="Search for Item...")
                    button.search-form__button
        .header__right
            .top-cart
                img.cart
                a.button My Account
//End block header