//Block header
header.header.container.page__header
        .header__left
            include ../modules/logo
            .search-form.header__search-form
                form.search-form__form
                    .search-form__browse Browse
                    input.search-form__input(type=text, placeholder="Search for Item...")
                    button.search-form__button
        .header__right
            .cart
                img(src="img/cart.svg").cart__img
                a.button.cart__button My Account
//End block header