//Block nav
nav.menu
    ul.menu__ul
        li.menu__list
            a.menu__link(href="index.html") Home
        li.menu__list
            a.menu__link(href="#") Man
        li.menu__list
            a.menu__link(href="#") Women
        li.menu__list
            a.menu__link(href="#") Kids
        li.menu__list
            a.menu__link(href="#") Accoseriese
        li.menu__list
            a.menu__link(href="#") Featured
        li.menu__list
            a.menu__link(href="#") Deals
//End block nav