//Block offer
include ../mixins/advantage__li

.offer.container.page__offer
    .offer__left
        .offer__text
            .offer__title 30%
                span.pink OFFER
            p.offer__desc FOR WOMEN
            
    .offer__right
        ul.advantage
            +advantage__li("truck", "Free Delivery", "Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.")
            +advantage__li("discount", "Free Delivery", "Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.")
            +advantage__li("crown", "Free Delivery", "Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.")
//End block offer