.product
    a(href="#")
        img(src="img/product1.jpg" alt="product").product__img
        .product__text
            a(href="#").product__name Mango People T-shirt
            a(herf="#").product__price $52.00
        a(href="#").product__add Add to Cart