section.product-box.container
    h2.product-box__title Fetured Items
    p.product-box__subtitle Shop for items based on what we featured in this week
    .product-wrap
        include ../modules/product
        include ../modules/product
        include ../modules/product
        include ../modules/product
        include ../modules/product
    