//Block promo
.promo
    .promo__content.container
        .promo_text
            p.promo__brand THE BRAND
            p.promo__lux OF LUXERIOUS
                span.pink FASHION
//End block promo