//Block sale
.sale.page__sale.container
    .sale__block.sale__block_big.sale__block_man
        .sale__text
            p.title HOT DEAL
            p.desc FOR MEN
            
    .sale__block.sale__block_little.sale__block_trend
        .sale__text
            p.title LUXIROUS & trendy
            p.desc ACCESORIES
            
    .sale__block.sale__block_little.sale__block_woman
        .sale__text
            p.title 30% offer
            p.desc women
            
    .sale__block.sale__block_big.sale__block_kids
        .sale__text
            p.title new arrivals
            p.desc FOR kids
//End block sale