//- Название сайта и описание
- var pageTitle    = "Gulp"
- var pageDesc     = "Описание страницы"

//- Meta
    //- compatible может содержать значения false, "edge"
- var compatible   = false
    //- viewport может иметь значения false, "adaptive", "not adaptive", "scalable" (масштабируемый)
- var viewport     = "adaptive"

//- Подлючение скриптов, стилей, шрифта
- var bootstrap    = false
- var fontAwesome  = true
    //- googleFonts может быть false или например "Lato:100,300,300i,400,400i,700,700i"
- var googleFonts  = "Lato:100,300,300i,400,400i,700,700i"
