//Block filter-size
.filter-size
    h2.filter-size__header Size
    .filter-size__box
        input(type="checkbox").filter-size__checkbox#size-xxs
        label(for="size-xxs").filter-size__label XXS
        input(type="checkbox").filter-size__checkbox#size-xs
        label(for="size-xs").filter-size__label XS
        input(type="checkbox").filter-size__checkbox#size-s
        label(for="size-s").filter-size__label S
        input(type="checkbox").filter-size__checkbox#size-m
        label(for="size-m").filter-size__label M
        input(type="checkbox").filter-size__checkbox#size-l
        label(for="size-l").filter-size__label L
        input(type="checkbox").filter-size__checkbox#size-xl
        label(for="size-xl").filter-size__label XL
        input(type="checkbox").filter-size__checkbox#size-xxl
        label(for="size-xxl").filter-size__label XXL
//End block filter-size