//Blcok filter-trending
.filter-trending
    h2.filter-trending__header Trending now
    .filter-trending__box
        a(href="#").filter-trending__link Bohemian
        span.filter-trending__span |
        a(href="#").filter-trending__link Floral
        span.filter-trending__span |
        a(href="#").filter-trending__link Lace 
        a(href="#").filter-trending__link Floral
        span.filter-trending__span |
        a(href="#").filter-trending__link Lace
        span.filter-trending__span |
        a(href="#").filter-trending__link Bohemian
//End block filter-trending