extends ../templates/head

block content
    include ../modules/header
    include ../modules/menu/menu
    include ../modules/breadcrumbs
    include ../modules/check-wrap
    include ../modules/feedback
    include ../modules/footer
    include ../modules/copyright