extends ../templates/head

block append config
    //-
    
block content
    include ../modules/header
    include ../modules/menu/menu
    include ../modules/promo
    include ../modules/sale
    include ../modules/product-box
    include ../modules/offer
    include ../modules/feedback
    include ../modules/footer
    include ../modules/copyright
    
