extends ../templates/head

block content
    include ../modules/header
    include ../modules/menu/menu
    include ../modules/breadcrumbs
    include ../modules/cart-table
    include ../modules/cart-buttons
    include ../modules/deal
    include ../modules/feedback
    include ../modules/footer
    include ../modules/copyright