extends ../templates/head

block content
    include ../modules/header
    include ../modules/menu/menu
    include ../modules/breadcrumbs
    include ../modules/slider
    include ../modules/product-card
    include ../modules/may-like
    include ../modules/feedback
    include ../modules/footer
    include ../modules/copyright