//Block advantage
.advantage
    article.advantage__article
        img(src="../../img/truck.svg").advantage__img
        .advantage__text
            h3.advantage__title Free Delivery
            p.advantage__desc Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
    article.advantage__article
        img(src="../../img/discount.svg").advantage__img
        .advantage__text
            h3.advantage__title Sales & discounts
            p.advantage__desc Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
    article.advantage__article
        img(src="../../img/crown.svg").advantage__img
        .advantage__text
            h3.advantage__title Quality assurance
            p.advantage__desc Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
//End block advantage