//Block breadcrumbs
.breadcrumbs-wrap
    .breadcrumbs.container
        h2.breadcrumbs__title New Arrivals
        .breadcrumbs__links
            a(href="#").breadcrumbs__link Home /
            a(href="#").breadcrumbs__link Men /  
            a(href="#").breadcrumbs__link New Arrivals
//End block breadcrumbs