//Block cart-table

table.cart-table.page__cart-table.container
    tr.cart-table__tr
        th.cart-table__th.cart-table__th_left Product Details
        th.cart-table__th unite Price
        th.cart-table__th Quantity
        th.cart-table__th shipping
        th.cart-table__th Subtotal
        th.cart-table__th ACTION
    tr.cart-table__tr
        td.cart-table__td.cart-table__td_left
            img(src="img/product-cart_1.jpg").cart-table__img
            .cart-table__text
                h3.cart-table__title Mango  People  T-shirt
                p.cart-table__line
                    span.cart-table__span Color: 
                    |Red
                p.cart-table__line
                    span.cart-table__span Size: 
                    |Xll	
        td.cart-table__td $150
        td.cart-table__td
            input(type="text", value="2").cart-table__input
        td.cart-table__td FREE
        td.cart-table__td $300
        td.cart-table__td
            i(class="fas fa-times-circle").pointer
    tr.cart-table__tr
        td.cart-table__td.cart-table__td_left
            img(src="img/product-cart_2.jpg").cart-table__img
            .cart-table__text
                h3.cart-table__title Mango  People  T-shirt
                p.cart-table__line
                    span.cart-table__span Color: 
                    |Red
                p.cart-table__line
                    span.cart-table__span Size: 
                    |Xll	
        td.cart-table__td $150
        td.cart-table__td
            input(type="text", value="2").cart-table__input
        td.cart-table__td FREE
        td.cart-table__td $300
        td.cart-table__td
            i(class="fas fa-times-circle").pointer
    tr.cart-table__tr
        td.cart-table__td.cart-table__td_left
            img(src="img/product-cart_3.jpg").cart-table__img
            .cart-table__text
                h3.cart-table__title Mango  People  T-shirt
                p.cart-table__line
                    span.cart-table__span Color: 
                    |Red
                p.cart-table__line
                    span.cart-table__span Size: 
                    |Xll	
        td.cart-table__td $150
        td.cart-table__td
            input(type="text", value="2").cart-table__input
        td.cart-table__td FREE
        td.cart-table__td $300
        td.cart-table__td
            i(class="fas fa-times-circle").pointer
//End block cart-table