//Block check-wrap
section.check-wrap
    ul.check-wrap__ul.container
        li.check-wrap__list
            h2.check-wrap__title 01. Shipping Adress
            include check-register
        li.check-wrap__list
            h2.check-wrap__title 02. BILLING INFORMATION
        li.check-wrap__list
            h2.check-wrap__title 03. SHIPPING INFORMATION
        li.check-wrap__list
            h2.check-wrap__title 04. SHIPPING METHOD
        li.check-wrap__list
            h2.check-wrap__title 05. PAYMENT METHOD
        li.check-wrap__list
            h2.check-wrap__title 06. ORDER REVIEW
            




//End block check-wrap