//Block features
section.features.page__features
    .features__inner.container
        article.features__article
            img(src="../../img/truck.svg").features__img
            h3.features__title Free Delivery
            p.features__text Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        article.features__article
            img(src="../../img/discount.svg").features__img
            h3.features__title Sales & discounts
            p.features__text Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        article.features__article
            img(src="../../img/crown.svg").features__img
            h3.features__title Quality assurance
            p.features__text Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
//End block features