//Block feedback
section.feedback-wrap.page__feedback-wrap
    .container.feedback
        .comment-wrap.feedback__comment-wrap
            .comment.comment-wrap__comment
                img(src="img/comment_face.png", alt="prev").comment__img
                .comment__text
                    blockquote.comment__blockquote “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
                    p.comment__name Bin Burhan
                    p.comment__address Dhaka, Bd
                    .comment__link-wrap
                        a(href="#").comment__link
                        a(href="#").comment__link.comment__link_active
                        a(href="#").comment__link
        .subscribe-wrap.feedback__subscribe-wrap
            h2.subscribe-wrap__header Subscribe
            p.subscribe-wrap__desc FOR OUR NEWLETTER AND PROMOTION
            form(action="#").subscribe.subscribe-wrap__subscribe
                input(type="email", placeholder="Enter Your Email").subscribe__input
                button(type="submit").subscribe__button Subscribe
//End block feedback