//Block footer
footer.footer.container.page__footer
    .footer__left
        include ../modules/logo
        
        .footer__text-wrap
            p.footer__text Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
            p.footer__text Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
            
    .footer__right
        nav.footer-nav
            h2.footer-nav__title COMPANY
            ul.footer-nav__ul
                li.footer-nav__li
                    a(href="#").footer-nav__link Home
                    a(href="#").footer-nav__link Shop
                    a(href="#").footer-nav__link About
                    a(href="#").footer-nav__link How It Works
                    a(href="#").footer-nav__link Contact
                    
        nav.footer-nav
            h2.footer-nav__title INFORMATION
            ul.footer-nav__ul
                li.footer-nav__li
                    a(href="#").footer-nav__link Tearms & Condition
                    a(href="#").footer-nav__link Privacy Policy
                    a(href="#").footer-nav__link How to Buy
                    a(href="#").footer-nav__link How to Sell
                    a(href="#").footer-nav__link Promotion
                    
        nav.footer-nav
            h2.footer-nav__title SHOP CATEGORY
            ul.footer-nav__ul
                li.footer-nav__li
                    a(href="#").footer-nav__link Men
                    a(href="#").footer-nav__link Women
                    a(href="#").footer-nav__link Child
                    a(href="#").footer-nav__link Apparel
                    a(href="#").footer-nav__link Brows All
//End block footer