include ../mixins/product

//Block may-like
section.may-like.page__may-like.container
    h2.may-like__title you may like also
    .may-like__inner
        +product('BLAZE LEGGINGS', '$52.00', '#', 'img/product_s1.jpg')
        +product('ALEXA SWEATER', '$52.00', '#', 'img/product_s2.png')
        +product('AGNES TOP', '$52.00', '#', 'img/product_s3.jpg')
        +product('SYLVA SWEATER', '$52.00', '#', 'img/product_s4.jpg')
//End block may-like