//Block offer
include ../mixins/advantage__li

.offer.container.page__offer
    .offer__left
        .offer__text
            .offer__title 30% 
                span.pink OFFER
            p.offer__desc FOR WOMEN
            
    .offer__right
        include advantage
//End block offer