//Block product-card
section.product-card.container.page__product-card
    .product-card__collection
        h3.product-card__collection-head WOMEN COLLECTION
        .product-card__diving-strip
    h2.product-card__title Moschino Cheap And Chic
    .product-card__text
        p.product-card__desc Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals.
        .product-card__character
            p.product-card__material MATERIAL: 
                span.product-card__span COTTON
            p.product-card__designer DESIGNER:  
                span.product-card__span BINBURHAN
        p.product-card__price $561
    .choose.product-card__choose
        .choose__inner
            .choose__box
                p.choose__title CHOOSE COLOR
                select.choose__select
                    option.choose__red Red
                    option Green
                    option Blue
            .choose__box
                p.choose__title CHOOSE SIZE
                select.choose__select
                    option XXL
                    option XL
                    option L
            .choose__box
                p.choose__title QUANTITY
                input(type="number", value="2", min="1", max="100").choose__input
        a(href="#").choose__button
            img(src="img/red-cart.svg").choose__button-img
            |Add to Cart
    
//End block product-card