//Block product-sort
.product-sort.page__product-sort
    .product-sort__sort-by
        .product-sort__order-text Sort By
        select.product-sort__select
            option Name
    .product-sort__show
        .product-sort__order-text Show
        select.product-sort__select
            option 3
            option 6
            option 9
            option 12
//End block product-sort