//Block product-box_product
include ../mixins/product

section.product-box.page__product-box
    .product-box__inner
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p1.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p2.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p3.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p4.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p5.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p6.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p7.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p8.jpg')
        +product('Mango People T-shirt', '$52.00', '#', 'img/product_p9.jpg')
//End block product-box_product