//Block promo
section.promo
    .promo__content.container
        .promo__text
            p.promo__brand THE BRAND
            p.promo__lux OF LUXERIOUS 
                span.pink FASHION
//End block promo