//Block sale
.sale.page__sale.container
    .sale__block.sale__block_big.sale__block_man
        .sale__text
            p.sale__title HOT DEAL
            p.sale__desc FOR MEN
            
    .sale__block.sale__block_little.sale__block_trend
        .sale__text
            p.sale__title LUXIROUS & trendy
            p.sale__desc ACCESORIES
            
    .sale__block.sale__block_little.sale__block_woman
        .sale__text
            p.sale__title 30% offer
            p.sale__desc women
            
    .sale__block.sale__block_big.sale__block_kids
        .sale__text
            p.sale__title new arrivals
            p.sale__desc FOR kids
//End block sale