//Block sidebar
nav.sidebar
    .sidebar__item
        .sidebar__head-wrap
            h2.sidebar__head Category
            i(class="fas fa-caret-down").sidebar__i.sidebar__i-active
        ul.sidebar__ul
            li.sidebar__li
                a(href="#").sidebar__link Accessories
            li.sidebar__li
                a(href="#").sidebar__link Bags
            li.sidebar__li
                a(href="#").sidebar__link Denim
            li.sidebar__li
                a(href="#").sidebar__link Hoodies & Sweatshirts
            li.sidebar__li
                a(href="#").sidebar__link Jackets & Coats
            li.sidebar__li
                a(href="#").sidebar__link Pants
            li.sidebar__li
                a(href="#").sidebar__link Polos
            li.sidebar__li
                a(href="#").sidebar__link Shirts
            li.sidebar__li
                a(href="#").sidebar__link Shoes
            li.sidebar__li
                a(href="#").sidebar__link Shorts
            li.sidebar__li
                a(href="#").sidebar__link Sweaters & Knits
            li.sidebar__li
                a(href="#").sidebar__link T-Shirts
            li.sidebar__li
                a(href="#").sidebar__link Tanks  
    .sidebar__item
        .sidebar__head-wrap
            h2.sidebar__head Brand
            i(class="fas fa-caret-down").sidebar__i
    .sidebar__item
        .sidebar__head-wrap
            h2.sidebar__head Designer
            i(class="fas fa-caret-down").sidebar__i
//End block sidebar