//Block slider
.slider
    .slider__backward
        i(class="fas fa-chevron-left")
    .slider__ahead
        i(class="fas fa-chevron-right")
    img(src="img/slide-1.jpg").slider__img
//End block slider