@fontNormal: "14px";
@import "mixins/index";
@import "mixins/colors";

.container{
    background-color: @grey;
    font-size: @fontNormal;
    color: @red;
    &__logo{
        display: flex;
    }
}