extends ../layout/head

block variables
    - var pageTitle = "Document"

block head
   include ../modules/header/header
   include ../modules/nav
   include ../modules/promo
   include ../modules/sale
   include ../modules/product-box
   include ../modules/offer
   include ../modules/feedback
   include ../modules/footer
   include ../modules/copyright
   