header.header
    .container.header-flex
        .header__left
            div.logo|
                a(href="#")
                    img(src="img/logo.png", alt="logo")
                    p BRAN
                        span Ds 
            .search-form
        .header__right
            .top-cart