block variables
doctype html
html(lang="en")
  head
    meta(charset = 'utf-8')
    title= pageTitle
    link(rel='stylesheet', href='css/main.css')
  body
   include ../modules/header
   block content
    